* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #0ebac5;
  color: #222222;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  background-color: #eef5ff;
  border-radius: 10px;
  max-width: fit-content;
  padding: 1rem;
  margin: auto;
}

h1 {
  font-size: clamp(22px, 5vw, 52px);
  font-weight: 900;
  text-align: center;
  margin-block: 2rem;
}

li:not(:last-child) {
  margin-bottom: 0.7rem;
}

a {
  display: inline-block;
  font-size: 1.3rem;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
}

a:focus {
  outline: 8px solid tomato;
}