label {
  display: block;
  margin-top: 1em;
}

/* USING :focus-within TO CHANGE FONT-WEIGHT */
label:focus-within {
  font-weight: bold;
}

/* OTHER STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #0ebac5;
  color: #222222;
  padding: 2rem;
}

.instructions {
  font-size: 1.1rem;
  width: fit-content;
  margin: 0 auto 3rem;
  line-height: 1.5;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 0.6rem 1rem;
}

form {
  background-color: #eef5ff;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  margin: 0 auto;
}
